@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4" id="wel">Welcome <span class="text-dark">GO</span> </h1>
  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

  <div class="text-danger" id="app">{{ message }}</div>
</div>


<script>
  const { createApp } = Vue

  createApp({
    data() {
      return {
        message: 'Hello Vue!'
      }
    }
  }).mount('#app')
</script>
